# Node / frontend build-time dependencies
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Editor / OS
.DS_Store
.vscode/
.idea/
to_delete.json
logs/*
*/__pycache__/*
frontend/node_modules
.gitignore
pgdata
analysis_results/*
api/*/__pycache__/*
.env
api/static
api/routers/summarize copy.py
api/static/index.html
pathodb_conda_data
server_address.txt
scripts/*
slurm_api_old.sh
pathodb_postrecovery_*.dump
db/etl_jobs_migration.sql
data/*/*/*
etl/etl_worker.py
etl/*.csv
probes_not_found.txt
frontend/public/openseadragon-images/*.png
debug_topography.ipynb
.gitignore
unique_submission_types.csv
update_snomed.sql
pairs_topography.csv
.gitignore
etl/etl_cytology_submissions.py
etl/etl_cytology.py
vllm_address.txt
api/agent/eval/*jsonl
.suppress_resubmit
